@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

:root{
    --primary-color: #003366;
    --gray: #555555;
    --gray-background: #ECECEC;
    --cards: #333333;
}

.header{
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;

    background-color: var(--primary-color);
}

.header .logo{
    color: white;
    font-size: 1.6rem;
    font-weight: 800;

    display: flex;
    flex-grow: 1;
    flex-basis: 0;

    font-family: "Poppins", sans-serif;
}

section{
    display: flex;
    justify-content: space-around;
    padding: 0 14%;
    
    margin-top: 4rem;
}

section h1{
    width: 30%;

    color: var(--primary-color);

    font-size: 1.8rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 480px;
    height: 250px;

    padding: 40px;
    
    border: .5px solid rgb(202, 202, 202);
    border-radius: 10px;

}

form .label-input{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

form label{
    font-size: .9rem;
}

form input{
    height: 3rem;
    padding: 0 .8rem;

    border: .5px solid rgb(131, 131, 131);
    border-radius: 10px;
}

form .buttons{
    display: flex;
    gap: .5rem;
  
}

form button:first-child{
    padding: 1rem 2rem;

    cursor: pointer;

    background-color: var(--primary-color);
    color: white;

    font-size: .9rem;
    font-weight: 600;

    border: none;
    border-radius: 10px;
}

form .button{
    padding: 1rem 2rem;

    background: transparent;
    color: var(--primary-color);

    font-size: .9rem;
    font-weight: 600;

    border: none;
    border-radius: 10px;

    transition: all .3s;
}

form .button:hover{
    border-radius: 10px;
    
    background-color: #5a99d8;

    transition: all .3s;
}

@media (max-width:1200px){
    section{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 1.5rem;
    }

    section h1{
        display: flex;
        justify-content: center;
        text-align: center;

        font-size: 1.6rem;

        width: 100%;
    }

    form{
        border: none;

        width: 770px;
    }

    form .buttons{
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:800px){
    .header .logo{
        font-size: 1.3rem;
    }
    form{
        border: none;

        width: 650px;
    }
}

@media (max-width:650px){
    form{
        border: none;

        width: 520px;
    }
}

@media (max-width:530px){
    section{
        padding: 0 7%;
    }
    
    form{
        border: none;

        width: 450px;
    }
}

@media (max-width:450px){
     form{
        border: none;

        width: 375px;
    }

    section h1{
        font-size: 1.4rem;

        width: 100%;
    }

    .header .logo{
        font-size: 1.1rem;
    }
}







